body {
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
  @media (max-width: 767px) {
    color: red;
  }
}

a {
  color: teal;
  &:hover {
    text-decoration: underline;
  }

  &::before {
    content: "";
  }

  span {
  }
}

.box {
  width: 100px;
  height: 100px;
  background-color: teal;
  transition: width 1s ease-in-out;
  margin-left: 20px;

  &:hover {
    width: 200px;
  }
}

.box-model {
  width: 200px;
  height: 100px;
  padding: 20px;
  border: 2px solid green;
  margin: 20px;
}
